/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
/* Large Displays */
@media (min-width: 980px) {
  #content {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    padding-top: 10px;
    width: 940px;
    margin-top: -18px;
  }
  #right {
    display: inline-block;
    float: right;
  }
  #avRooms, #users_online {
    margin-right: 190px;
    overflow: auto;
    color: #fff;
  }
  #room-list {
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    overflow: auto;
    color: #ff0000;
  }
  #names {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    overflow: auto;
  }
  #room {
    width: 60%;
  }
  #messages {
    width: 60%;
    height: 300px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px){
  .copy{
    padding: 2.5% 10%;
  }
  #content {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    padding-top: 10px;
    width: 100%;
    margin-top: -18px;
  }
  #avRooms {
    float: left;
    padding-left: 10%;
    overflow: auto;
    color: #fff;
  }
  #room-list {
    float: left;
    padding-left: 10%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    overflow: auto;
    color: #ff0000;
  }
  #room {
    width: 75%;
  }
  #messages {
    width: 75%;
    height: 160px;
  }
}
html, body {
  height: 100%
}
body {
  font: 14px "lucida Grande", Helvetica, Arial, sans-serif;
  background: #0e1d3a url(../images/bg.png) top center no-repeat;
}

a {
  color: #00B7FF;
}

span {
  color: #ff0000;
}

/* Room name displayed */
#room {
  background-color: #ddd;
  margin-bottom: 1em;
  margin-left: 10px;
}

/* Message display area. Scrolling enabled when message box full. */
#messages {
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
  margin-left: 10px;
}
/* message boxes */
#msg, #msg_user {
  display: inline-block;
  float: left;
  clear: both;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 1px;
}
#msg {
  background-color: #AC66D5;
}
#msg_user {
  background-color: #83F03C;
}

#msg_system {
  display: inline-block;
  float: left;
  clear: both;
  font-weight: bold;
  font-style: italic;
  color: #FF0700;
}
a.logo {
  width: 418px;
  padding-top: 10px;
  margin: 0 auto;
  height: 145px;
  text-align: center;
  font-size: 31px;
  color: #fff;
  display: block;
  background: url(../images/logo.png) left bottom no-repeat;
}

a.logo span {
  display: block;
  font-size: 10px;
  font-family: Bell Gothic Std;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#help {
  color: #fff;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  margin-left: 10px;
}

#help ul,li {
  padding-top: 5px;
  padding-left: 15px;
  list-style-type: none;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#room-list div:hover {
  background-color: #ddd;
  cursor: pointer;
}

#names {
  color: #FFDD40;

}
#send-message {
  width: 50%;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 10px;
  font-size: 18px;
}

footer {
  margin: auto;
  margin-top: 10px;
  bottom: 3;
  width: inherit;
  text-align: center;
}
