/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%
}
body {
  font: 14px "lucida Grande", Helvetica, Arial, sans-serif;
  background: #0e1d3a url(../images/bg.png) top center no-repeat;
}

a {
  color: #00B7FF;
}

span {
  color: #ff0000;
}

/* Application sizes */
#content {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* Room name displayed */
#room {
  width: 60%;
  background-color: #ddd;
  margin-bottom: 1em;
  margin-left: 10px;
}

/* Message display area. Scrolling enabled when message box full. */
#messages {
  width: 60%;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
  margin-left: 10px;
}

.header {
  padding-top: 10px;
  width: 940px;
  margin-top: -18px;
}

a.logo {
  width: 418px;
  padding-top: 10px;
  margin: 0 auto;
  height: 145px;
  text-align: center;
  font-size: 31px;
  color: #fff;
  display: block;
  background: url(../images/logo.png) left bottom no-repeat;
}

a.logo span {
  display: block;
  font-size: 10px;
  font-family: Bell Gothic Std;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#help {
  color: #fff;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  margin-left: 10px;
}

#help ul,li {
  padding-top: 5px;
  padding-left: 15px;
  list-style-type: none;
}
#avRooms {
  float: right;
  margin-right: 190px;
  overflow: auto;
  color: #fff;
}
#room-list {
  float: right;
  margin-right: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100px;
  height: 300px;
  overflow: auto;
  color: #ff0000;
}

#room-list div {
  border-bottom: 1px solid #eee;
}

#room-list div:hover {
  background-color: #ddd;
  cursor: pointer;
}

#send-message {
  width: 50%;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 10px;
  font-size: 18px;
}

footer {
  margin: auto;
  bottom: 3;
  width: inherit;
  text-align: center;
}
